// chat.pug
  
doctype 5
html
  head
    title= 'Chat'
    style
      include style.css
    style
    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.11.1.js')
  body
    div.content_header
      button.btn.btn-info.header(type='button') 채팅방
    div.content
      textarea#chatLog.form-control(readonly='')
      .count_chat 참여한 인원
    div.fotter
      form#chat
        input#name.form-contorl(type='text')
        input#message.form-contorl(type='text')
        button.btn.btn-primary(type='submit') 전송
      #box.box
    script.
      var socket = io(); 
	  
      $('#chat').on('submit', function(e){ 
      socket.emit('send message', $('#name').val(), $('#message').val());
      $('#message').val('');
      $('#message').focus();
      e.preventDefault();
      });
	  
      socket.on('create name', function(name){ 
      $('#name').val(name);
      });
	  
      socket.on('change name', function(oldname, name){ 
      $('#name').val(name);
      $('#chatLog').append('<알림> ' + oldname + '님이 ' + name +'님으로 닉네임을 변경했습니다.\n');
      });
	  
      socket.on('receive message', function(msg){ 
      $('#chatLog').append(msg+'\n');
      $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
	  
      socket.on('new_disconnect', function(name){
      $('#chatLog').append('<알림> ' + name + '님이 채팅창을 떠났습니다.\n');
      });
	  
      socket.on('new_connect', function(name){
      $('#chatLog').append('<알림> ' + name + '님이 채팅창에 접속했습니다.\n');
      });